#about {
  @include padraoSections(4rem, $light-color, $dark-color);
  .about-title { @include titlesSections(); }
  .about {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    max-width: 800px;
    margin: 0 auto;
    .about-img {
      .img-profile {
        width: 200px;
        border-radius: 50%;
        @include box-shadow();
      }
      .social a {
        color: $dark-color;
        margin: 0 .25rem;
      }
    }
    .about-description {
      text-align: left;
      .about-skills {
        display: flex;
        flex-wrap: wrap;
        gap: .5rem;
        margin-top: 1rem;
        .img-skill { width: 40px; }
      }
    }
  }
}

@media (min-width:768px) {
  .about { flex-direction: row; align-items: flex-start; }
  .about-description { margin-left: 2rem; }
}
