#contact {
  @include padraoSections(4rem, white, $dark-color);
  .contact-title { @include titlesSections(); }
  .contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    a { color: $primary-color; }
  }
}

footer {
  @include padraoSections(1rem, $dark-color, white);
}

@media (min-width:768px) {
  .contact { flex-direction: row; justify-content: center; }
}
