// LOGO SITE TEXT
h1.logo-text{	
	font-weight:700;
	color: white;
	text-align:center;	
	span{
		color:#e74c3c;
		font-family: 'Amaranth', sans-serif!important;
	}
}
.logo-text-sub{
	text-align:center;
	color:white;
}
// NAV MOBILE
nav {
	display:flex;
	flex-direction:column;
	align-items:center;
	min-height:100px;
	z-index:2;
	background-color: rgba(0,0,0,.7);
	ul{
		display:flex;
		flex-direction:column;
		align-items:center;
		padding:0;
		width:100%;
		li{
			text-align:center;
			width:100%;
			display: list-item;
			a{
				display:inline-block;
				padding:5px 0px;
				text-transform: uppercase;
				font-size:18px;
				font-family: 'Amaranth', sans-serif!important;
				color:#d4d4d4;
				&:hover{
					color:#e74c3c;
					text-decoration:none;
				}
			}
		}
	}	
}
// HEADER 
header {
	background-image: url('../../assets/imgs/header-bg.jpg');
	background-repeat:no-repeat;
	background-size:cover;	
	background-position:right;	
	display:flex;
	flex-direction:column;
	align-items:center;
	text-align:center;	
	color:#fff;
	padding:10px;
	.title-header{
		font-size:60px;
	}
	.title-header-sub{
		font-size:23px;
	}
	.title-header-sub2{
		font-size:25px;
		font-weight:bold;
		background-color:red;		
		width:200px;
	}
	#contato{
		a{		
			color:white;
			&:hover{
				color:red;
			}
		}				
	}

}

@media (min-width:760px){
	nav {
		flex-direction:row;
	   	justify-content:center; 
	   	position:fixed;
	   	width:100%;
		.brand{
			margin-right:60px;
		}		
		ul {
			width:650px;
			flex-direction:row;
		}
	}

	header{
		min-height:740px;
		padding-top:250px;
		.title-header-sub2{
		font-size:28px;
		font-weight:bold;
		background-color:red;		
		width:400px;
	}
	}
}
