@mixin box-shadow(){
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

@mixin titlesSections(){
  margin-bottom: 2rem;
}

@mixin padraoSections($size, $bg, $color){
  padding: $size;
  background-color: $bg;
  color: $color;
  text-align: center;
}
