#portfolio {
  @include padraoSections(4rem, $light-color, $dark-color);
  .portfolio-title { @include titlesSections(); }
  .portfolio {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
  }
  .block-item { text-align: center; max-width: 240px; }
  .img-port img { @include box-shadow(); border-radius: 4px; max-width: 100%; }
}

@media (min-width:768px) {
  .portfolio { flex-direction: row; flex-wrap: wrap; justify-content: center; }
}
