#services {
  @include padraoSections(4rem, white, $dark-color);
  .services-title { @include titlesSections(); }
  .services {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
  }
  .img-service { max-width: 80px; margin-bottom: .5rem; }
}

@media (min-width:768px) {
  .services { flex-direction: row; flex-wrap: wrap; justify-content: center; }
  .service { max-width: 240px; }
}
