@import "../componentes/bootstrap/scss/bootstrap.scss";
@import"mixin";

@import "header";
@import "about";
@import "services";
@import"portfolio";
@import"contact";

body{
margin:0;
padding:0;
}
// TIPOGRAFY
h2,
h3,
h4{
		font-family: 'Nunito', sans-serif;	
		font-weight: bold;
}

a:focus, a:hover {
    color: #e74c3c;
    font-weight: bold;
    font-family: 'Nunito', sans-serif;	
}
a{
	font-family: 'Nunito', sans-serif!important;	
}

.btn-skill{
	border:1px solid #d4d4d4;
	background:white;
	color:#e74c3c;
	font-size:1em;
	font-weight:bold;
	font-family: "Nunito", sans-serif !important;
	&:hover{
		color:white;
		background:#e74c3c;
	}
}

