@import "variables";
@import "mixin";

html { scroll-behavior: smooth; }

body {
  margin: 0;
  font-family: $font-base;
  color: $dark-color;
  line-height: 1.6;
}

a {
  color: $primary-color;
  text-decoration: none;
  &:hover { text-decoration: underline; }
}

.btn {
  border: 1px solid $primary-color;
  background: none;
  color: $primary-color;
  padding: .5rem 1rem;
  border-radius: 4px;
  cursor: pointer;
  &:hover {
    background: $primary-color;
    color: white;
  }
}

@import "header";
@import "about";
@import "services";
@import "portfolio";
@import "contact";
